<div class="container-fluid" id="commentSec">
    <div class="col-7">
        <div id="commentContainer" class="form-group shadow p-3 mb-5 bg-white rounded bg-light">
            <h4>Leave a comment</h4>
            <form class="form commentForm">
                <div class="form-group">
                    <label for="commentText">Your comment</label>
                    <textarea class="form-control" id="commentForm" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" class="btn btn-outline-dark" type="submit"><i class="bi bi-pencil-square"></i>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

