<div class="container-fluid newPost">
  <div class="row">
    <div class="col-6 card" id="imageCardSec">
      <img src="/assets/images/loginPurple.jpg" class="card-img" alt="laptop" id="dashCardImg">
    </div>
    <div class="col card col-4 .bg-transparent" id="loginFormCard">
      <div class="card-body">
        <h3>Create a New Post:</h3>
        <form class="form newPostform">
          <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input class="form-input" type="text" id="postTitle" name="postTitle" />
          </div>
          <div class="form-group">
            <label for="postDesc">What's on your mind today?:</label>
            <textarea class="form-input" id="postDesc" name="postDesc"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col activePosts">
    <h3>Current Posts:</h3>
    <div class="card-deck">
    {{#each posts as |post|}}
    {{>postCards}}
    {{/each}}
    </div>
    </div>
    </div>
    
<script src="/js/newPost.js"></script>