<div class="container-fluid newPost">
  <div>

    <h2>Welcome,{{user.post.username}}!</h2>
  </div>

  <div class="row">
    <div class="col card" id="imageCardSec"  class="col-4">
      <img src="/assets/images/loginPurple.jpg" class="card-img" alt="laptop" id="loginCardImg">
    </div>
    <div class="col card col-4 .bg-transparent" id="loginFormCard">
      <div class="card-body">
    <h3>Create a New Post:</h3>

    <form class="form newPostform">
      <div class="form-group">
        <label for="postTitle">Post Title</label>
        <input class="form-input" type="text" id="postTitle" name="postTitle" />
      </div>
      <div class="form-group">
        <label for="postDesc">What's on your mind today?:</label>
        <textarea class="form-input" id="postDesc" name="postDesc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
 </div>
  <div class="col-md-6 activePosts">
    <h3>Current Posts:</h3>
    {{#each posts as |post|}}
    {{>postCards}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{posts.id}}">{{posts.username}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="posts_id">DELETE</button>
      </div>
    </div>

    {{> postComment}}
    {{/each}}
  </div>
</div>
<script src="/js/newPost.js"></script>
