 <div class="container">
 <div class="jumbotron-fluid jumboPic" >
  <h1 class="display-4">Join the Tech Blog Community</h1>
  <p class="lead">Connect with others in the tech community. Learn, share, and experience tech together</p>
  <hr class="my-4">
 </div>
 </div>
<div id="homePostsSec">
  <h2>Latest Posts</h2>
 {{#each posts as |post|}}

  {{> postCards post }}
  {{else}}
  <h6 class="pb-4 has-text-centered is-italic">No active posts</h6>
  {{/each}}
</div>