<div class="container-fluid" id="loginSec">
  <div class="row">
    <div class="col card" id="imageCardSec">
      <img src="/assets/images/loginPurple.jpg" class="card-img" alt="laptop" id="loginCardImg">
    </div>
    <div class="col card col-4 .bg-transparent" id="loginFormCard">
      <div class="card-body">
        <h3 class="card-title">Welcome</h3>
        <div id="loginFormContainer" class="form-group shadow p-3 mb-5 bg-white rounded bg-light">
                  <h4>Login</h4>
          <form class="form loginForm">
            <div class="form-group">
              <label for="emailLogin"><i class="bi bi-envelope-fill"></i> Email:</label>
              <input class="form-control" type="email" id="emailLogin" />
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" id="passwordLabel"><i class="bi bi-lock-fill"></i> Password</label>
              <input class="form-control" type="password" id="passwordLogin" class="shadow p-3 mb-5 bg-white rounded" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" class="btn btn-outline-dark" type="submit"><i
                  class="bi bi-box-arrow-in-right"></i> Login</button>
            </div>
          </form>
        </div>
        <br>
        <div class="row">
          <div id="signUpContainer" class="form-group shadow p-3 mb-5 bg-white rounded bg-light">
            <h4>Sign Up</h4>
            <form class="form signupForm">
              <div class="form-group">
                <label for="usernameSignup"><i class="bi bi-person-badge-fill"></i> Username:</label>
                <input class="form-input" type="text" id="usernameSignup" />
                <small id="usernameHelp" class="form-text text-muted">Enter a Username</small>
              </div>
              <div class="form-group">
                <label for="emailSignup"><i class="bi bi-envelope-fill"></i> Email:</label>
                <input class="form-input" type="text" id="emailSignup" />
                <small id="emailHelp" class="form-text text-muted">Enter an Email Address</small>
              </div>
              <div class="form-group">
                <label for="password-signup"><i class="bi bi-lock-fill"></i> Password:</label>
                <input class="form-input" type="password" id="passwordSignup" />
                <small id="passwordHelp" class="form-text text-muted">Enter a Password, must be at least 8 characters
                  long. No special characters. </small>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" class="btn btn-outline-dark" type="submit"><i
                    class="bi bi-toggle-on"></i> Sign Up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="/js/login.js"></script>