* {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Rubik', sans-serif;
}
header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.hero-pic {
  background-image: linear-gradient(
      rgba(44, 32, 99, 0.596),
      rgba(23, 38, 172, 0.849)
    ),
    url(../assets/images/backgroundPic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
}

.navBtn {
  margin-left: 15px;
  margin-right: 20px;
}
.navBtns {
  top: 38px;
  position: relative;
}

div #imageCardSec {
  border: none;
}

#loginFormCard {
  border: none;
  align-content: center;
  position: relative;
  bottom: auto;
  text-align: center;
}

.jumboPic {
  background-image: linear-gradient(
      rgba(44, 32, 99, 0.062),
      rgba(23, 38, 172, 0.452)
    ),
    url(../assets/images/codeScreen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 1490px;
  color: white;
  text-align: center;
  position: relative;
  bottom: 50px;
  align-items: center;
  left: -120px;
}

.navContainer {
  margin-bottom: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#homePostsSec {
  align-items: center;
}
div#homePostsSec {
  align-content: center;
  position: relative;
  left: 100px;
}
#dashCardImg {
  height: 450px;
  width: 400px;
  left: 80px;
  position: relative;
}

#currentPostTitle {
  align-content: center;
  text-align: center;
  position: relative;
}

.activePosts {
  align-items: center;
}
.div.activePosts {
  align-content: center;
  position: relative;
  left: 100px;
}
